<h1>Resultado al buscar: <small>{{texto}}</small></h1>
<hr>

<div class="card-columns" *ngIf="ninjas.length>0">
  <div class="card animated fadeIn fast" *ngFor="let ninja of ninjas">
    <img class="card-img-top" src="{{ninja.img}}" alt={{ninja.nombre}}} height="500" width="250">
    <div class="card-body">
      <h5 class="card-title">{{ninja.nombre}}</h5>
      <p class="card-text">{{ninja.bio}}</p>
      <p class="card-text"><small class="text-muted">{{ninja.aparicion}}</small></p>
      <a [routerLink]="['/ninja',ninja.id]" class="btn btn-outline-dark btn-block">Ver más</a>
    </div>
  </div>
</div>

<div *ngIf="ninjas.length==0">
  <p>No hay resultados</p>
</div>