<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">
  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input
         type="text"
         class="form-control"
         [ngClass]="{'is-invalid': (nombre.errors?.required || nombre.errors?.minlength) && !nombre.untouched,'is-valid':!nombre.invalid}"
         placeholder="Nombre"
         [(ngModel)]= "usuario.nombre"
         name="nombre" 
         minlength="5"
         required
         #nombre="ngModel">

        <div *ngIf="nombre.errors?.required" class="invalid-feedback">Este campo es requerido.</div>
        <div *ngIf="nombre.errors?.minlength" class="invalid-feedback">
          Por lo menos {{nombre.errors.minlength.requiredLength}} caracteres.
        </div>
      </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Apellido</label>
        <div class="col-8">
          <input
          type="text" 
          class="form-control"
          [ngClass]="{'is-invalid': apellido.errors?.required && !apellido.untouched,'is-valid':!apellido.invalid}"
          placeholder="Apellido"
          [(ngModel)]= "usuario.apellido"
          name="apellido"
          required
          #apellido = "ngModel">
          <div *ngIf="apellido.errors?.required" class="invalid-feedback">Este campo es requerido.</div>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">
          <input 
          type="text" 
          class="form-control" 
          [ngClass]="{'is-invalid':(correo.errors?.required || correo.errors?.pattern) && !correo.untouched,'is-valid':!correo.invalid}"
          placeholder="Correo electrónico"
          [(ngModel)]= "usuario.correo"
          name="correo"
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          required
          #correo = "ngModel">
          <div *ngIf="correo.errors?.required" class="invalid-feedback">Este campo es requerido.</div>
          <div *ngIf="correo.errors?.pattern" class="invalid-feedback">Correo inválido.</div>
        </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">País</label>
      <div class="col-8">
          <select 
          class="custom-select" 
          [ngClass]="{'is-invalid':(pais.errors?.required) && !pais.untouched,'is-valid':!pais.invalid}"
          name="pais" 
          [(ngModel)]="usuario.pais" 
          #pais = "ngModel" 
          required>
              <option value="" selected>Seleccione un país</option>
              <option *ngFor="let pais of paises" value="{{pais.codigo}}">{{pais.nombre}}</option>
          </select>
          <div *ngIf="pais.errors?.required" class="invalid-feedback">Debe seleccionar un país</div>
      </div>
    </div>  

    <div class="form-group row">
        <label class="col-2 col-form-label">Sexo</label>
        <div class="col-8">
            <div class="custom-control custom-radio custom-control-inline">
                <input 
                type="radio" 
                id="Hombre" 
                value="Hombre" 
                name="sexo"
                #sexo = "ngModel" 
                class="custom-control-input" 
                [ngClass]="{'is-valid': sexo.value=='Hombre'}"
                [(ngModel)]="usuario.sexo"
                required>
                <label class="custom-control-label" for="Hombre">Hombre</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
                <input 
                type="radio" 
                id="Mujer" 
                value="Mujer" 
                name="sexo"
                #sexo = "ngModel" 
                class="custom-control-input" 
                [ngClass]="{'is-valid': sexo.value=='Mujer'}"
                [(ngModel)]="usuario.sexo"
                required>
                <label class="custom-control-label" for="Mujer">Mujer</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label"></label>
        <div class="col-8">
            <div class="custom-control custom-checkbox">
                <input 
                type="checkbox" 
                class="custom-control-input" 
                id="customCheck1"
                name="terminos"
                #terminos = "ngModel"
                [(ngModel)]="usuario.terminos"
                required>
                <label class="custom-control-label" for="customCheck1">Acepto las condiciones.</label>
            </div>
        </div>
      </div>  

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
          <button type="submit" class="btn btn-outline-primary" [ngClass]="{'disabled': !forma.valid}" >Guardar</button>        
        </div>
    </div>

    <pre>
      {{usuario | json}}
    </pre>

  </div>
</form>